#map {
  width: 100%;
  height: 400px;
}

.container {
  max-width: 100%;
  padding: 0;
}

.navbar {
  padding: 0 50px !important;
  font: Regular 15px/19px Source Sans Pro;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  height: 35px;
  background: #32383F 0% 0% no-repeat padding-box !important;
}

.page-section {
  padding-top: 35px;
}

body, html {
  background: #32383F 0% 0% no-repeat padding-box;
  font-family: "Source Sans Pro", sans-serif !important;
}

body, h1, h2, div {
  font-family: "Source Sans Pro", sans-serif !important;
}

.card {
  height: 519px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 6px #00000033;
  border-radius: 10px;
  opacity: 1;
  display: none;
}

.forms {
  margin-left: 46px;
}
.forms h1 {
  text-align: left;
  font-size: 34px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  margin-top: 20px;
}
.forms h2 {
  padding-left: 10px;
  color: #FFFFFF;
  font-size: 18px;
  border-left: 2px solid white;
  margin-top: 20px;
}

.logo {
  height: 25px;
}

.gm-svpc, .gm-control-active, .gm-style-mtc, .gmnoprint {
  display: none !important;
}

.btn {
  border: none !important;
  font-size: 20px;
}

.btn-primary {
  background: #44B1FF 0% 0% no-repeat padding-box !important;
  border-radius: 4px;
  opacity: 1;
  height: 42px;
  margin: 5px;
}

.select2-selection__choice {
  background: #44B1FF 0% 0% no-repeat padding-box !important;
  border-radius: 4px;
  opacity: 1;
  border-color: transparent !important;
  width: 100px;
  height: 35px;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px !important;
  margin-top: 9px !important;
  padding: 4px 8px !important;
  color: white;
}

.select2-selection__choice__remove {
  margin-right: 6px !important;
  color: white !important;
}

#buttons-city {
  cursor: pointer;
  position: relative;
}
#buttons-city .select2 {
  width: 100% !important;
}
#buttons-city .select2-selection--multiple {
  border-radius: 4px;
  background: transparent !important;
  border: none;
  cursor: pointer !important;
  z-index: 1000000;
}

.select2-search__field {
  color: transparent !important;
}

.select2-dropdown--below {
  position: relative;
  background: transparent;
}

.select2-results {
  width: 300px;
  position: absolute;
  right: 0px;
}

.select2-results__options {
  overflow-y: visible !important;
}

.select2-results__option {
  background: white;
  margin: 10px;
  border-radius: 5px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  display: none !important;
}

.add-city {
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: white;
  z-index: 0;
}

.city-btn {
  position: relative;
  padding-right: 30px;
}

.remove-button {
  position: absolute;
  right: 8px;
  top: 10px;
}

.cities-dropdown {
  display: inline-block !important;
  position: relative !important;
  left: 50px !important;
}

.last-update {
  color: white;
  padding-left: 14px;
}

.analysis {
  text-align: center;
  margin-top: 50px;
}

.interests .btn-primary {
  background-color: #45576C !important;
}
.interests .btn-primary-active {
  background-color: #44B1FF !important;
}

.btn:focus {
  box-shadow: none !important;
}

.displayed {
  display: block !important;
}

.loader {
  display: none;
  position: fixed;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(51, 51, 51, 0.45);
  color: white;
  text-align: center;
  padding-top: 300px;
  font-size: 44px;
}

.highcharts-legend-item text {
  font-size: 18px !important;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

/*# sourceMappingURL=main.css.map */
